<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="RdsApiConfiguration" type="System.Configuration.NameValueSectionHandler" />
    <section name="RdsServerConfiguration" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <RdsApiConfiguration>
    <add key="rdsapi.rdsServerName" value="localhost" />
    <add key="rdsapi.systemCode" value="ADAM" />
    <add key="rdsapi.keepSubscriptionsAlive" value="true" />
    <add key="rdsapi.subscriptionQueueName" value="private$\TsmIncoming" />
    <add key="rdsapi.allowRdsApiReset" value="true" />
    <add key="rdsapi.directData" value="false" />
    <add key="rdsapi.timeStoreName" value="rdsApi2" />
    <add key="rdsapi.prefetchMinutes" value="0" />
  </RdsApiConfiguration>

  <RdsServerConfiguration>
    <add key="rds.connectionString" value="Application Name=RDS;Server=entura-db02;Database=RDS2;Trusted_Connection=true" />
    <add key="rds.autoCreateTimeSeries" value="true" />
    <add key="rds.loadEnabled" value="true" />
    <add key="rds.cacheEnabled" value="false" />
    <add key="rds.cacheLifetime" value="900" />
    <add key="rds.enableRegistration" value="false" />
    <add key="rds.daysInBlock" value="15" />
    <add key="rds.eventDataServiceUri" value="net.tcp://localhost:42766/ra/events" />
  </RdsServerConfiguration>

  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level - %message%newline" />
      </layout>
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <!-- Set default logging level to INFO -->
    <root>
      <level value="INFO" />
      <appender-ref ref="ConsoleAppender" />
    </root>


  </log4net>

  <!-- Configure Common.Logging adaptor so that Spring logs using log4net -->
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1213">
        <!-- choices are INLINE, FILE, FILE-WATCH, EXTERNAL-->
        <!-- otherwise BasicConfigurer.Configure is used   -->
        <!-- log4net configuration file is specified with key configFile-->
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <!-- NotificationHubs specific app setings for messaging connections -->
    <add key="Microsoft.Azure.NotificationHubs.ConnectionString" value="Endpoint=sb://[your namespace].notificationhubs.windows.net;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=[your secret]" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!-- START WCF Service Endpoint Configuration -->
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="defaultBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="999999999" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="tcpBinding" receiveTimeout="00:00:30" maxBufferSize="25600000" maxReceivedMessageSize="25600000" sendTimeout="00:00:30" closeTimeout="00:00:10">
          <readerQuotas maxStringContentLength="25600000" />
        </binding>
        <binding name="tcpStatusBinding" receiveTimeout="00:00:05" maxBufferSize="25600000" maxReceivedMessageSize="25600000">
          <readerQuotas maxStringContentLength="25600000" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IEventData" closeTimeout="00:01:00" openTimeout="00:00:10" receiveTimeout="00:00:05" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="false" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="40960" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IReplicationManager" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="false" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1638400" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="HydrogeologyDataSyncOut_11" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1420" maxReceivedMessageSize="1420" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <security mode="Transport">
            <transport clientCredentialType="Basic" proxyCredentialType="None" realm="" />
          </security>
        </binding>
        <binding name="PushNotificationWebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="rdsApi1" address="net.tcp://entura-app03:8812/Rds/RdsApi" binding="netTcpBinding" bindingConfiguration="tcpBinding" contract="RdsApiSvc.IRdsApiService" behaviorConfiguration="defaultBehaviour">
        <identity>
          <servicePrincipalName value="RdsApi/localhost" />
        </identity>
      </endpoint>
      <endpoint name="rdsApi2" address="net.tcp://entura-app03:8813/Rds/RdsApi" binding="netTcpBinding" bindingConfiguration="tcpBinding" contract="RdsApiSvc.IRdsApiService" behaviorConfiguration="defaultBehaviour">
        <identity>
          <servicePrincipalName value="RdsApi/localhost" />
        </identity>
      </endpoint>
      <endpoint name="liveApi" address="net.tcp://swhrds0test:8811/LiveManager/LiveDataSvc" binding="netTcpBinding" bindingConfiguration="tcpBinding" contract="LiveDataSvc.ILiveDataSvc" behaviorConfiguration="defaultBehaviour">
        <identity>
          <servicePrincipalName value="LiveDataSvc/localhost" />
        </identity>
      </endpoint>
      <endpoint address="https://sappi.olympicdam.bhpbilliton.com/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=ENTURA_ADMS&amp;receiverParty=&amp;receiverService=&amp;interface=HydrogeologyDataSyncOut_V01&amp;interfaceNamespace=http://bhpbilliton.net/Hydrogeology/Service" binding="basicHttpBinding" bindingConfiguration="HydrogeologyDataSyncOut_11" contract="HydrogeologyDataSync.HydrogeologyDataSyncOut_V01" name="acQuire_11" />
      <endpoint name="ReplicationService" address="http://data.ajenti.com.au/Replication/Replication.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IReplicationManager" contract="ReplicationService.IReplicationManager" />
      <endpoint name="PushNotificationWebServiceSoap" address="http://www.vint.com.au/demo/KIREIP/PushNotificationWebService.asmx" binding="basicHttpBinding" bindingConfiguration="PushNotificationWebServiceSoap" contract="NotificationService.PushNotificationWebServiceSoap" />
      <!-- Realtime Logging Configuration -->
      <endpoint name="RDS1" address="net.tcp://entura-app03:42769/rds/events" binding="netTcpBinding" bindingConfiguration="tcpStatusBinding" contract="common.logging.IEventData">
        <identity>
          <servicePrincipalName value="RDS/localhost" />
        </identity>
      </endpoint>
      <endpoint name="RDS2" address="net.tcp://entura-app03:42764/rds/events" binding="netTcpBinding" bindingConfiguration="tcpStatusBinding" contract="common.logging.IEventData">
        <identity>
          <servicePrincipalName value="RDS/localhost" />
        </identity>
      </endpoint>
      <endpoint name="TM" address="net.tcp://entura-app02:42768/tm/events" binding="netTcpBinding" bindingConfiguration="tcpStatusBinding" contract="common.logging.IEventData">
        <identity>
          <servicePrincipalName value="TM/localhost" />
        </identity>
      </endpoint>
      <endpoint name="TDR" address="net.tcp://entura-app02:42767/tdr/events" binding="netTcpBinding" bindingConfiguration="tcpStatusBinding" contract="common.logging.IEventData">
        <identity>
          <servicePrincipalName value="TDR/localhost" />
        </identity>
      </endpoint>
      <endpoint name="RA1" address="net.tcp://entura-app03:42766/ra/events" binding="netTcpBinding" bindingConfiguration="tcpStatusBinding" contract="common.logging.IEventData">
        <identity>
          <servicePrincipalName value="RA/localhost" />
        </identity>
      </endpoint>
      <endpoint name="RA2" address="net.tcp://entura-app03:42768/ra/events" binding="netTcpBinding" bindingConfiguration="tcpStatusBinding" contract="common.logging.IEventData">
        <identity>
          <servicePrincipalName value="RA/localhost" />
        </identity>
      </endpoint>
      <endpoint name="EM1" address="net.tcp://entura-app02:42765/em/events" binding="netTcpBinding" bindingConfiguration="tcpStatusBinding" contract="common.logging.IEventData">
        <identity>
          <servicePrincipalName value="EM/localhost" />
        </identity>
      </endpoint>
      <endpoint name="EM2" address="net.tcp://entura-app02:42766/em/events" binding="netTcpBinding" bindingConfiguration="tcpStatusBinding" contract="common.logging.IEventData">
        <identity>
          <servicePrincipalName value="EM/localhost" />
        </identity>
      </endpoint>
      <endpoint name="SCH" address="net.tcp://entura-app02:42764/sch/events" binding="netTcpBinding" bindingConfiguration="tcpStatusBinding" contract="common.logging.IEventData">
        <identity>
          <servicePrincipalName value="SCH/localhost" />
        </identity>
      </endpoint>
      <endpoint name="LIVE" address="net.tcp://entura-app03:42763/live/events" binding="netTcpBinding" bindingConfiguration="tcpStatusBinding" contract="common.logging.IEventData">
        <identity>
          <servicePrincipalName value="LIVE/localhost" />
        </identity>
      </endpoint>
      <endpoint name="REP" address="http://data.ajenti.com.au/Replication/EventData.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEventData" contract="common.logging.IEventData" />
    </client>
  </system.serviceModel>


  <runtime>
      <gcServer enabled="true"/>
   </runtime>
</configuration>
