<configuration>
  <runtime>
      <gcServer enabled="true"/>
   </runtime>
  

  <!--
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <section name="AdministrationConfiguration" type="System.Configuration.NameValueSectionHandler"/>
    <section name="DatabaseConfiguration" type="System.Configuration.NameValueSectionHandler"/>
    <section name="RdsApiConfiguration" type="System.Configuration.NameValueSectionHandler"/>
    <section name="RdsServerConfiguration" type="System.Configuration.NameValueSectionHandler"/>
    <section name="AdmsConfiguration" type="System.Configuration.NameValueSectionHandler"/>
    <section name="LiveConfiguration" type="System.Configuration.NameValueSectionHandler"/>
    <section name="EventConfiguration" type="System.Configuration.NameValueSectionHandler"/>
    <section name="PaywayConfiguration" type="System.Configuration.NameValueSectionHandler"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <PaywayConfiguration>
    <add key="payway.certificateFile" value="D:\ADMS\Scripts\PayWay\ccapi.q0"/>
    <add key="payway.logDirectory" value="D:\ADMS\logs\PayWay\"/>
    <add key="payway.customerUsername" value="Q23137"/>
    <add key="payway.customerPassword" value="Aypdvumad"/>
    <add key="payway.merchantId" value="25326414"/>
  </PaywayConfiguration>
  <appSettings>
    <add key="CampbellProxyUrl" value="http://swhtdr0test/TelemetryWs/Campbell/"/>
  </appSettings>
  <EventConfiguration>
    <add key="events.mergeMatchingNotifications" value="false"/>
  </EventConfiguration>
  <LiveConfiguration>
    <add key="live.systemCode" value="SmartGrid"/>
  </LiveConfiguration>
  <AdmsConfiguration>
    <add key="adms.signalRUrl" value="https://data.ajenti.com.au/live/signalr"/>
  </AdmsConfiguration>
  <AdministrationConfiguration>
    <add key="administration.rdsServer" value="localhost:Reference Data Server:Reference Data Server"/>
    <add key="administration.rulesAdaptor" value="localhost:RDS Rules Adaptor:Rules Adaptor"/>
    <add key="administration.eventServer" value="localhost:ADMS Event Service:Event Server"/>
    <add key="administration.tdrServer" value="localhost:ADMS Telemetry Data Receiver:Telemetry Data Receiver"/>
    <add key="administration.telemetryManager" value="localhost:ADMS Telemetry Manager:Telemetry Manager"/>
    <add key="administration.scheduler" value="localhost:ADMS Scheduler:Scheduler"/>
    <add key="administration.sqlServer" value="localhost:MSSQLSERVER:SQL Server"/>
    <add key="administration.ftpSecure" value="swhtdr0prod:Microsoft FTP Service:FTP Secure"/>
    <add key="administration.ftpPublic" value="swhweb2prod:Microsoft FTP Service:FTP Public"/>
    <add key="administration.loggerNet" value="swhext0prod:CsiLoggernet:Loggernet"/>
    <add key="administration.buildServer" value="swhsvn:TeamCity Web Server:Build Server"/>
    <add key="administration.liveManager" value="swhrds0prod:ADMS Live Manager:Live Manager"/>
  </AdministrationConfiguration>
  <DatabaseConfiguration>
    <add key="database.adms" value="Server=entura-db02;Database=ADMS;Integrated Security=true;"/>
    <add key="database.datawarehouse" value="Server=entura-db02;Database=Datawarehouse;Integrated Security=true;"/>
  </DatabaseConfiguration>
  <RdsApiConfiguration>
    <add key="rdsapi.rdsServerName" value="entura-app03"/>
    <add key="rdsapi.systemCode" value="ADMS"/>
    <add key="rdsapi.keepSubscriptionsAlive" value="true"/>
    <add key="rdsapi.subscriptionQueueName" value="private$\Incoming\Adms"/>
    <add key="rdsapi.allowRdsApiReset" value="true"/>
    <add key="rdsapi.directData" value="false"/>
    <add key="rdsapi.timeStoreName" value="rdsApi1"/>
  </RdsApiConfiguration>
  <RdsServerConfiguration>
    <add key="rds.connectionString" value="Application Name=RDS;Server=localhost;Database=RDS;Trusted_Connection=true"/>
    <add key="rds.autoCreateTimeSeries" value="true"/>
    <add key="rds.loadEnabled" value="true"/>
    <add key="rds.cacheEnabled" value="true"/>
    <add key="rds.cacheLifetime" value="900"/>
    <add key="rds.enableRegistration" value="false"/>
    <add key="rds.daysInBlock" value="15"/>
    <add key="rds.eventDataServiceUri" value="net.tcp://localhost:42766/ra/events"/>
  </RdsServerConfiguration>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1213">
        <arg key="configType" value="FILE-WATCH"/>
        <arg key="configFile" value="~/log4net.config"/>
      </factoryAdapter>
    </logging>
  </common>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      <object name="appConfigPropertyHolder" type="Spring.Objects.Factory.Config.PropertyPlaceholderConfigurer, Spring.Core">
        <property name="configSections">
          <value>DatabaseConfiguration,AdministrationConfiguration,AdmsConfiguration,PaywayConfiguration</value>
        </property>
      </object>
      <import resource="assembly://AdmsApi/adms.database.api/AdmsApi-Spring2.xml"/>
      <import resource="assembly://Common45/common.spring/CommonSpringCaching.xml"/>
      <object name="AdmsMembershipProvider" singleton="true" type="AdmsJson.Security.AdmsMembershipProvider, AdmsJson">
        <property name="AdmsApi" ref="AdmsApi"/>
      </object>
      <object id="MembershipServiceRef" singleton="true" type="AdmsWeb.Controllers.AccountMembershipService, AdmsWeb">
        <constructor-arg name="provider" ref="AdmsMembershipProvider"/>
      </object>
      <object id="AccountController" singleton="false" type="AdmsJson.Controllers.AccountController, AdmsJson">
        <property name="MembershipService" ref="MembershipServiceRef"/>
        <property name="AdmsApi" ref="AdmsApi"/>
      </object>
      <object id="DataController" singleton="false" type="AdmsJson.Controllers.DataController, AdmsJson">
        <property name="AdmsApi" ref="AdmsApi"/>
      </object>
      <object id="EsBoxController" singleton="false" type="AdmsJson.Controllers.EsBoxController, AdmsJson">
        <property name="AdmsApi" ref="AdmsApi"/>
      </object>
      <object id="SmartGridController" singleton="false" type="AdmsJson.Controllers.KireipController, AdmsJson">
        <property name="AdmsApi" ref="AdmsApi"/>
        <property name="LiveDataClient" ref="LiveDataClient"/>
        <property name="SignalRUrl" value="${adms.signalRUrl}"/>
      </object>
      <object id="KireipController" singleton="false" type="AdmsJson.Controllers.KireipController, AdmsJson">
        <property name="AdmsApi" ref="AdmsApi"/>
        <property name="LiveDataClient" ref="LiveDataClient"/>
        <property name="SignalRUrl" value="${adms.signalRUrl}"/>
      </object>
      <object id="HogsController" singleton="false" type="AdmsJson.Controllers.HogsController, AdmsJson">
        <property name="AdmsApi" ref="AdmsApi"/>
        <property name="LiveDataClient" ref="LiveDataClient"/>
      </object>
      <object id="AdelaideController" singleton="false" type="AdmsJson.Controllers.AdelaideController, AdmsJson">
        <property name="AdmsApi" ref="AdmsApi"/>
      </object>
      <object id="LiveController" singleton="false" type="AdmsJson.Controllers.LiveController, AdmsJson">
        <property name="AdmsApi" ref="AdmsApi"/>
        <property name="LiveDataClient" ref="LiveDataClient"/>
      </object>
      <object id="DataViewController" singleton="false" type="AdmsJson.Controllers.DataViewController, AdmsJson">
        <property name="AdmsApi" ref="AdmsApi"/>
      </object>
      <object id="MomentumController" singleton="false" type="AdmsJson.Controllers.MomentumController, AdmsJson">
        <property name="AdmsApi" ref="AdmsApi"/>
        <property name="LiveDataClient" ref="LiveDataClient"/>
      </object>
      <object id="AuroraController" singleton="false" type="AdmsJson.Controllers.AuroraController, AdmsJson">
        <property name="AdmsApi" ref="AdmsApi"/>
        <property name="LiveDataClient" ref="LiveDataClient"/>
      </object>
      <object id="EnergyController" singleton="false" type="AdmsJson.Controllers.EnergyController, AdmsJson">
        <property name="AdmsApi" ref="AdmsApi"/>
        <property name="LiveDataClient" ref="LiveDataClient"/>
      </object>
      <object id="WaterController" singleton="false" type="AdmsJson.Controllers.WaterController, AdmsJson">
        <property name="AdmsApi" ref="AdmsApi"/>
        <property name="LiveDataClient" ref="LiveDataClient"/>
      </object>
      <object id="WeatherController" singleton="false" type="AdmsJson.Controllers.WeatherController, AdmsJson">
        <property name="AdmsApi" ref="AdmsApi"/>
        <property name="LiveDataClient" ref="LiveDataClient"/>
      </object>
      <object id="FieldController" singleton="false" type="AdmsJson.Controllers.FieldController, AdmsJson">
        <property name="AdmsApi" ref="AdmsApi"/>
      </object>
      <object id="InstallationController" singleton="false" type="AdmsWeb.Controllers.InstallationController, AdmsWeb">
        <property name="Adms" ref="AdmsApi"/>
      </object>
      <object id="SubscriberController" singleton="false" type="AdmsWeb.Controllers.SubscriberController, AdmsWeb">
        <property name="Adms" ref="AdmsApi"/>
      </object>
      <object id="DashboardController" singleton="false" type="AdmsJson.Controllers.DashboardController, AdmsJson">
        <property name="AdmsApi" ref="AdmsApi"/>
      </object>
      <object id="FileShareController" singleton="false" type="AdmsWeb.Controllers.FileShareController, AdmsWeb">
        <property name="Adms" ref="AdmsApi"/>
      </object>
      <object id="NotificationController" singleton="false" type="AdmsWeb.Controllers.NotificationController, AdmsWeb">
        <property name="Adms" ref="AdmsApi"/>
      </object>
      <object id="WorkflowController" singleton="false" type="AdmsWeb.Controllers.WorkflowController, AdmsWeb">
        <property name="Adms" ref="AdmsApi"/>
      </object>
      <object id="SiteVisitController" singleton="false" type="AdmsJson.Controllers.SiteVisitController, AdmsJson"/>
      <object id="AdministrationController" singleton="false" type="AdmsWeb.Controllers.AdministrationController, AdmsWeb">
        <property name="Adms" ref="AdmsApi"/>
        <property name="Services">
          <dictionary key-type="string" value-type="string">
            <entry key="RdsServer" value="${administration.rdsServer}"/>
            <entry key="RulesAdaptor" value="${administration.rulesAdaptor}"/>
            <entry key="EventServer" value="${administration.eventServer}"/>
            <entry key="TdrServer" value="${administration.tdrServer}"/>
            <entry key="TelemetryManager" value="${administration.telemetryManager}"/>
            <entry key="Scheduler" value="${administration.scheduler}"/>
            <entry key="SqlServer" value="${administration.sqlServer}"/>
            <entry key="FtpSecure" value="${administration.ftpSecure}"/>
            <entry key="FtpPublic" value="${administration.ftpPublic}"/>
            <entry key="LoggerNet" value="${administration.loggerNet}"/>
            <entry key="BuildServer" value="${administration.buildServer}"/>
          </dictionary>
        </property>
      </object>
      <object id="ChartController" singleton="false" type="AdmsWeb.Controllers.ChartController, AdmsWeb">
        <property name="AdmsApi" ref="AdmsApi"/>
        <property name="DataWarehouse" ref="DataWarehouseApi"/>
        <property name="LiveDataClient" ref="LiveDataClient"/>
        <property name="SignalRUrl" value="${adms.signalRUrl}"/>
      </object>
      <object id="DataWarehouseApiFactory" singleton="true" type="adms.datawarehouse.api.DataWarehouseApiFactory, DataWarehouseApi">
        <property name="ConnectionString" value="${database.datawarehouse}"/>
      </object>
      <object id="DataWarehouseApi" singleton="true" factory-object="DataWarehouseApiFactory" factory-method="Create"/>
      <object id="LiveDataClient" singleton="true" type="adms.live.client.LiveDataClientApi, LiveClient"/>
    </objects>
  </spring>
  <system.net>
    <mailSettings>
      <smtp from="alerts@ajenti.com.au">
        <network host="smtp.hosting.bulletproof.net" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="defaultBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="999999999"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="tcpBinding" receiveTimeout="0:01:00" maxBufferSize="25600000" maxReceivedMessageSize="25600000">
          <readerQuotas maxStringContentLength="25600000"/>
        </binding>
        <binding name="tcpStatusBinding" receiveTimeout="00:00:02" maxBufferSize="25600000" maxReceivedMessageSize="25600000">
          <readerQuotas maxStringContentLength="25600000"/>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IEventData" closeTimeout="00:01:00" openTimeout="00:00:10" receiveTimeout="00:00:05" sendTimeout="00:01:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="6553600" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="false" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="40960" maxNameTableCharCount="16384"/>
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint name="rdsApi1" address="net.tcp://entura-app03:8812/Rds/RdsApi" binding="netTcpBinding" bindingConfiguration="tcpBinding" contract="RdsApiSvc.IRdsApiService" behaviorConfiguration="defaultBehaviour">
        <identity>
          <servicePrincipalName value="RdsApi/localhost"/>
        </identity>
      </endpoint>
      <endpoint name="rdsApi2" address="net.tcp://entura-app03:8813/Rds/RdsApi" binding="netTcpBinding" bindingConfiguration="tcpBinding" contract="RdsApiSvc.IRdsApiService" behaviorConfiguration="defaultBehaviour">
        <identity>
          <servicePrincipalName value="RdsApi/localhost"/>
        </identity>
      </endpoint>
      <endpoint name="liveApi" address="net.tcp://entura-app03:8811/LiveManager/LiveDataSvc" binding="netTcpBinding" bindingConfiguration="tcpBinding" contract="LiveDataSvc.ILiveDataSvc" behaviorConfiguration="defaultBehaviour">
        <identity>
          <servicePrincipalName value="LiveDataSvc/localhost"/>
        </identity>
      </endpoint>
      <endpoint name="RDS1" address="net.tcp://entura-app03:42769/rds/events" binding="netTcpBinding" bindingConfiguration="tcpStatusBinding" contract="common.logging.IEventData">
        <identity>
          <servicePrincipalName value="RDS/localhost"/>
        </identity>
      </endpoint>
      <endpoint name="RDS2" address="net.tcp://entura-app03:42764/rds/events" binding="netTcpBinding" bindingConfiguration="tcpStatusBinding" contract="common.logging.IEventData">
        <identity>
          <servicePrincipalName value="RDS/localhost"/>
        </identity>
      </endpoint>
      <endpoint name="TM" address="net.tcp://entura-app02:42768/tm/events" binding="netTcpBinding" bindingConfiguration="tcpStatusBinding" contract="common.logging.IEventData">
        <identity>
          <servicePrincipalName value="TM/localhost"/>
        </identity>
      </endpoint>
      <endpoint name="TDR" address="net.tcp://entura-app02:42767/tdr/events" binding="netTcpBinding" bindingConfiguration="tcpStatusBinding" contract="common.logging.IEventData">
        <identity>
          <servicePrincipalName value="TDR/localhost"/>
        </identity>
      </endpoint>
      <endpoint name="RA1" address="net.tcp://entura-app03:42766/ra/events" binding="netTcpBinding" bindingConfiguration="tcpStatusBinding" contract="common.logging.IEventData">
        <identity>
          <servicePrincipalName value="RA/localhost"/>
        </identity>
      </endpoint>
      <endpoint name="RA2" address="net.tcp://entura-app03:42768/ra/events" binding="netTcpBinding" bindingConfiguration="tcpStatusBinding" contract="common.logging.IEventData">
        <identity>
          <servicePrincipalName value="RA/localhost"/>
        </identity>
      </endpoint>
      <endpoint name="EM1" address="net.tcp://entura-app02:42765/em/events" binding="netTcpBinding" bindingConfiguration="tcpStatusBinding" contract="common.logging.IEventData">
        <identity>
          <servicePrincipalName value="EM/localhost"/>
        </identity>
      </endpoint>
      <endpoint name="EM2" address="net.tcp://entura-app02:42766/em/events" binding="netTcpBinding" bindingConfiguration="tcpStatusBinding" contract="common.logging.IEventData">
        <identity>
          <servicePrincipalName value="EM/localhost"/>
        </identity>
      </endpoint>
      <endpoint name="SCH" address="net.tcp://entura-app02:42764/sch/events" binding="netTcpBinding" bindingConfiguration="tcpStatusBinding" contract="common.logging.IEventData">
        <identity>
          <servicePrincipalName value="SCH/localhost"/>
        </identity>
      </endpoint>
      <endpoint name="LIVE" address="net.tcp://entura-app03:42763/live/events" binding="netTcpBinding" bindingConfiguration="tcpStatusBinding" contract="common.logging.IEventData">
        <identity>
          <servicePrincipalName value="LIVE/localhost"/>
        </identity>
      </endpoint>
      <endpoint name="REP" address="http://data.ajenti.com.au/replication/eventdata.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IEventData" contract="common.logging.IEventData"/>
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
 -->
</configuration>
